/* Css */

/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
.principal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  padding: 1rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.buscador-input {
  width: 100%;
  border-radius: 16px;
  height: 30px;
  margin: 20px 0px;
}

/* Grid de productos */
.productos-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media (min-width: 768px) {
  .productos-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tarjeta de producto */
.producto-card {
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  padding: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.producto-imagen {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.producto-nombre {
  font-size: 1.125rem;
  font-weight: 600;
}

.producto-precio {
  color: red;
}

.boton-agregar {
  width: 100%;
  margin-top: 0.5rem;
  background-color: #4299e1;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.boton-agregar:hover {
  background-color: #3182ce;
}

.boton-eliminar {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  border-color: white;
  color: #e43721;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

.boton-eliminar:hover {
  background-color: #e43721;
  color: white;
}

/* Carrito */
.carrito {
  margin-top: 2rem;
}

.carrito h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.carrito-resumen {
  display: flex;
  align-items: center;
}

.carrito-icono {
  margin-right: 0.5rem;
}

.carrito-lista {
  margin-top: 0.5rem;
}

.carrito-item {
  color: #4a5568;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.carrito-item-imagen {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
}

.carrito-total {
  margin-top: 0.5rem;
  font-weight: bold;
}

.producto-imagenes {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.producto-detalle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-imagen {
  width: 100%;
  height: 17rem;
  object-fit: cover;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  object-position: top;
}

.detalle-producto {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

/* Estilos para el contenedor principal */
.crear-producto {
  max-width: 800px;
  min-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.crear-producto-info {
  display: flex;
  justify-content: space-between;
}

.crear-producto h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

/* Estilos para el formulario */
.crear-producto form {
  display: flex;
  flex-direction: column;
}

.crear-producto form>div {
  margin-bottom: 15px;
}

/* Estilos para las etiquetas */
.crear-producto label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Estilos para los inputs y textarea */
.crear-producto input,
.crear-producto textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.crear-producto textarea {
  height: 100px;
  resize: vertical;
}

/* Estilos para el botón de envío */
.crear-producto button {
  padding: 10px 15px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.crear-producto button:hover {
  background-color: #45a049;
}

/* Estilos para los campos cuando están en foco */
.crear-producto input:focus,
.crear-producto textarea:focus {
  outline: none;
  border-color: #4CAF50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Estilos para campos inválidos */
.crear-producto input:invalid,
.crear-producto textarea:invalid {
  border-color: #ff6b6b;
}

/* Estilos responsivos */
@media (max-width: 768px) {
  .crear-producto {
    padding: 15px;
  }

  .crear-producto input,
  .crear-producto textarea,
  .crear-producto button {
    font-size: 14px;
  }
}

/* Etiqueta Item List */
.item-product {
  border: 1px solid #e2e8f0;
  border-radius: 16px;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

/* Navbar */
.main-nav ul {
  margin: 0;
  padding: 0;
}
.main-nav {
  background-color: #1a1a1a;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  margin: 0;
}
.main-nav ul{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
}

.main-nav a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.main-nav a:hover,
.main-nav li.active a {
  background-color: #555;
}

@media (max-width: 600px) {
  .main-nav ul {
    flex-direction: column;
    align-items: center;
  }

  .main-nav li {
    margin: 10px 0;
  }
}